### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [39]:
player_count= purchase_data['SN'].nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
Unique_Items= purchase_data['Item ID'].nunique()
Average_price= round(purchase_data['Price'].mean(),2)
Purchases= purchase_data['Purchase ID'].count()
Revenue= purchase_data['Price'].sum()
summary_purchase_data= pd.DataFrame({"Number of Unique Items" : [Unique_Items],
                                   "Average Price" : [f'${Average_price}'],
                                   "Number of Purchases": [Purchases],
                                   "Total Revenue" :[f'${Revenue}']})
summary_purchase_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
pd.options.display.float_format = '${:,.2f}'.format
gender_count=purchase_data.groupby('Gender')['SN'].nunique()
percent_count=(gender_count/player_count)*100
final_result=pd.concat([gender_count.to_frame(), percent_count.to_frame()],axis=1,sort=False)
final_result.columns=['Total Count', 'Percentage of Players']
final_result

                       Total Count  Percentage of Players
Gender
Female                          81                 $14.06
Male                           484                 $84.03
Other / Non-Disclosed           11                  $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
pd.options.display.float_format = '${:,.2f}'.format
gender_price=purchase_data.groupby('Gender')['Price'].sum()
gender_average=round(purchase_data.groupby('Gender')['Price'].mean(),2)
gender_number=purchase_data.groupby('Gender')['SN'].count()
gender_avgspend=round((gender_price/gender_count),2)
gender_final=pd.concat([gender_number.to_frame(), gender_average.to_frame(), 
                        gender_price.to_frame(),gender_avgspend.to_frame()],axis=1,sort=False)
gender_final.columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', "Avg Total Purchase per Person"]
gender_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
pd.options.display.float_format = '{:,.2f}%'.format
bins =[0,9,14,19,24,29,34,39,100]
Ages=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Age Groups"]=pd.cut(purchase_data['Age'],bins,labels=Ages, include_lowest = True)
gender_bins=purchase_data.groupby('Age Groups')['SN'].nunique()
percent_player= (gender_bins/player_count)*100
percent_player
Age_demographics=pd.concat([gender_bins.to_frame(), percent_player.to_frame()], axis=1,sort=False)
Age_demographics.columns=['Total Count', 'Percentage of Players']
Age_demographics

            Total Count  Percentage of Players
Age Groups
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
pd.options.display.float_format = '${:,.2f}'.format
bins =[0,9,14,19,24,29,34,39,100]
Ages=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Age Groups"]=pd.cut(purchase_data['Age'],bins,labels=Ages, include_lowest = True)
purchase_count=purchase_data.groupby('Age Groups')['Purchase ID'].count()
purchase_value=purchase_data.groupby('Age Groups')['Price'].sum()
Average_pur_price=(purchase_value/purchase_count)
Avg_ppp=(purchase_value/gender_bins)
purchasing_analysis=pd.concat([purchase_count.to_frame(), Average_pur_price.to_frame(), 
                               purchase_value.to_frame(), Avg_ppp.to_frame()], axis=1, sort=False)
purchasing_analysis.columns=['Purchase Count', 'Average Purchase Price', 
                             'Total Purchase Value', 'Avg Total Purchase per Person ']
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
pd.options.display.float_format = '${:,.2f}'.format
spenders=purchase_data.groupby('SN')['Price'].sum()
pur_count=purchase_data.groupby('SN')['Purchase ID'].count()
avg_pur_pr=(spenders/pur_count)
spenders_analysis=pd.concat([pur_count.to_frame(), avg_pur_pr.to_frame(), spenders.to_frame()],axis=1,sort=False)
spenders_analysis.columns=['Purchase Count', 'Average Purchase Price', 'Total Purchase value']
spenders_sorted=spenders_analysis.sort_values(['Purchase Count', 'Average Purchase Price', 'Total Purchase value'], 
                                       ascending=False).groupby('Total Purchase value')
spenders_sorted.head()

             Purchase Count  Average Purchase Price  Total Purchase value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Iral74                    4                   $3.40                $13.62
Chamjask73                3                   $4.61                $13.83
Iskadarya95               3                   $4.37                $13.10
...                     ...                     ...                   ...
Ililsasya43               1                   $1.02                 $1.02
Irilis75                  1                   $1.02                 $1.02
Aidai61                   1                   $1.01                 $1.01
Chanirra79                1                   $1.01                 $1.01
Alo38                     1                   $1.00                 $1.00

[533 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
pd.options.display.float_format = '${:,.2f}'.format
popular_table=purchase_data[["Item ID", "Item Name", "Price"]]
popular_count=purchase_data.groupby(['Item ID','Item Name'])["Purchase ID"].count()
popular_purval=purchase_data.groupby(['Item ID','Item Name'])["Price"].sum()
popular_price=(popular_purval/popular_count)
popularity_analysis=pd.concat([popular_count.to_frame(), popular_price.to_frame(), 
                               popular_purval.to_frame()],axis=1, sort=False)
popularity_analysis.columns=['Purchase Count', 'Item Price','Total Purchase Value']
popularity_sorted=popularity_analysis.sort_values(['Purchase Count', 'Item Price', 'Total Purchase Value'],
                                                  ascending=False).groupby('Purchase Count')
                                                  
popularity_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
141,Persuasion,7,$3.19,$22.33
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
53,Vengeance Cleaver,7,$2.05,$14.35
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
136,Ghastly Adamantite Protector,6,$3.58,$21.48
102,Avenger,6,$3.44,$20.64
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
87,"Deluge, Edge of the West",5,$4.43,$22.15
65,Conqueror Adamantite Mace,5,$4.24,$21.20
111,Misery's End,4,$4.89,$19.56
165,Bone Crushing Silver Skewer,4,$4.86,$19.44
52,Hatred,4,$4.84,$19.36
157,"Spada, Etcher of Hatred",4,$4.80,$19.20
50,Dawn,4,$4.60,$18.40
147,"Hellreaver, Heirloom of Inception",3,$4.93,$14.79
64,Fusion Pummel,3,$4.82,$14.46
109,"Downfall, Scalpel Of The Emperor",3,$4.76,$14.28
41,Orbit,3,$4.75,$14.25
95,Singed Onyx Warscythe,3,$4.74,$14.22
63,Stormfury Mace,2,$4.99,$9.98
173,Stormfury Longsword,2,$4.93,$9.86
18,"Torchlight, Bond of Storms",2,$4.65,$9.30
127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
6,Rusty Skull,2,$3.70,$7.40
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
91,Celeste,1,$4.17,$4.17
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,Stormcaller,1,$3.36,$3.36

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
pd.options.display.float_format = '${:,.2f}'.format
popularity_sorted=popularity_analysis.sort_values(['Purchase Count', 'Item Price', 'Total Purchase Value'],
                                                  ascending=False).groupby('Total Purchase Value')
                                                  
popularity_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04
...,...,...,...,...
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75